.coffee_container {
    border-radius: 25px;
    text-align: center;
    padding: 25px;
    width: 160px;
    margin: 20px auto;
}

.coffee_status_container {
    margin: 50px auto;
}

.coffee_yes_background {
    background-color: #77DD77;
}

.coffee_enroute_background {
    background-color: #FFFAA0;
}

.coffee_no_background {
    background-color: #FF5757;
}

.coffee_yes_background > p, .coffee_enroute_background > p, .coffee_no_background > p {
    color: #121212;
}

.coffee_gray_background {
    background-color: #404040;
}

.coffee_main p:nth-child(1) {
    font-size: 1.6rem;
    margin: 13% auto;
}

.coffee_main p:nth-child(2) {
    font-size: 1.2rem;
    margin: 0 auto;
}

.coffee_main h1 {
    font-size: 2.3rem;
    margin: 30px 0;
    text-align: center;
}

@media (min-width: 769px) {
    .coffee_container {
        padding: 25px;
        width: 600px;
        margin: 9% auto;
    }

    .coffee_main p:nth-child(1) {
        font-size: 5rem;
    }

    .coffee_main p:nth-child(2) {
        font-size: 3rem;
        margin: 3% auto;
    }

    .coffee_main h1 {
        font-size: 6rem;
    }
}