.container {
    border-radius: 25px;
    text-align: center;
    padding: 25px;
    width: 40vw;
    margin: 4vh auto;
}

p:nth-child(1) {
    font-size: 6vw;
    margin: 3vh auto;
}

p:nth-child(2) {
    font-size: 3vw;
    margin: 1vh auto;
}

.yesBackground {
    background-color: #77DD77;
}

.enrouteBackground {
    background-color: #FFFAA0;
}

.noBackground {
    background-color: #FF5757;
}

.yesBackground > p, .enrouteBackground > p, .noBackground > p {
    color: #121212;
}

.grayedBackground {
    background-color: #404040;
}

.statusContainer {
    margin: 12vh auto;
}