* {
    font-family: Noto Sans, sans-serif;
}

body {
    background-color: #121212;
    color: #CCCCCC;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 8vw;
    margin: 3vh 0 0 0;
}